.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .img-fluid {
    max-height: 150px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .col-8 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
    max-height: 200px;
  }
  
}