/* --------------------- */
/* index.html */
/* --------------------- */
/* --- Hero Section --- */
.hero-section {
  overflow: hidden;
}

/* The image adjusts automatically to screen size */
.hero-image {
  height: auto;
  object-fit: contain;
}

/* Text and button centered in image */
.hero-content {
  text-align: center;
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
  color: rgb(0, 247, 255);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.hero-btn {
  font-size: 22px;
  padding: 12px 30px;
  margin-top: 15px;
}
/* --------------------- */
/* main.html */
/* --------------------- */

/* Custom card with icons css */
.custom-card {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 80% 20%;
}

.card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;

}

.card-width {
  width: 60%;
}

/* Main bottom footer custom styling */
.main-footer {
  width: 85%;
}

.main-footer-icons {
  font-size: 40pt;
}

.main-footer-icons:hover {
  cursor: pointer;
}

/* --------------------- */
/* filter.html */
/* --------------------- */
.all-filters {
  display: flex;
  flex-direction: column;
}

.filters {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  font-size: 22px;
}

/* Hiding the checkbox used as a toggle */
.toggle-checkbox {
  display: none;
}

/* Styling the label as a triangle button */
.toggle-label {
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  display: inline-block;
  width: 250px;
  border-bottom: 2px solid black;
  /* Solid bottom border */
  padding: 5px 0;
}

/* The triangle symbol */
.toggle-label::before {
  content: "▶";
  /* right-pointing triangle */
  display: inline-block;
  width: 1em;
  margin-right: 8px;
  transition: transform 0.2s;
}

/* Rotating the triangle when it's checked */
.toggle-checkbox:checked+.toggle-label::before {
  transform: rotate(90deg);
}

/* Showing/hiding the checkbox list */
.toggle-checkbox:checked~.checkbox-list {
  display: block;
}

/* The checkbox list */
.checkbox-list {
  display: none;
  margin-left: 1.5em;
  margin-top: 0.5em;
}

/* ------------- */
/* account.html */
/* ------------- */
/* Profile picture width */
.profile-picture {
  font-size: 100pt;
}

.btn {
  width: 200px;
}
/* ------------- */

/* --------------------- */
/* listing-homepage.html */
/* --------------------- */
.volunteer-listing-icons {
  font-size: 35pt;
}

/* Responsive adjustment for smaller screens */
@media (max-width: 768px) {
  .hero-title {
    font-size: 32px;
  }

  .hero-btn {
    font-size: 18px;
    padding: 10px 25px;
  }
}